#branding {
    background: url("http://www.setdesign-la.com/bagelmania-images/b.png") no-repeat scroll 10px center #A99879 !important;
    overflow: hidden;
    padding: 20px 20px 0 70px !important;
    position: relative;
}